#mainCardVBox{
    -fx-padding: 5 5 5 5;
    -fx-background-color: #ffffff;
    /*-fx-border-width: 2;*/
    /*-fx-border-color: #eabd3b;*/
}

#topInfoHBox{
    -fx-border-width: 1;
    -fx-border-color: #eabd3b;
    -fx-border-radius: 10 10 10 10;
}

#label{
    -fx-font-size: 12;
    -fx-font-weight: bold;
}

#text{
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

#timeButton{
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

/*Не пашет*/
#timeButton .cell{
    -fx-alignment: right;
    -fx-border-color: #000000;
    -fx-border-width: 3;
    -fx-border-radius: 10 10 10 10;
}

.choice-box .context-menu{
    -fx-border-color: #eabd3b;
}